__pycache__
.vscode
.pytest_cache
log
.ipynb_checkpoints
run
build
dist
*egg-info
*.prof
*.dio
prof.sh
tcplog
.git_bak
*.pth
output/logs/*
*.pkl
output*/
transfer.ipynb
error_kyoku.yaml
config.yaml
test
train